@font-face {
  font-family: myFont;
  src: url(assets/CuteLove-jEppv.ttf);
}

@font-face {
  font-family: message;
  src: url(assets/message.ttf); 
}

h1 {
  font-family: myFont;
}

body {
    background-image: url(assets/bg.png);
    background-size:88%;
    background-position: 20%;
    height:80%;
    font-family: message;
    text-align: end;
    margin: 50px;
    color: hsl(196, 80%, 80%);
    color: hsl(240, 32%, 64%);
    text-shadow: 2px 2px 4px #e5e0f3;
  }

  .form-control {
    font-size:28px;
    font-family: message;
    font-weight: 2px;
    text-align: left;
    margin: 0.5%;
    background-color: hsl(240, 41%, 95%);
    box-shadow: 10px 10px;
  }

  input[type=text]{
    font-family: message;
    width: 15%;
    padding: 10px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: hsl(240, 41%, 95%);
    box-shadow: 10px 10px;
  }

  #submit-button{
    font-size:18px;
    background-color: hsl(240, 41%, 95%);
    box-shadow: 1px 1px hsl(240, 32%, 64%);
    color: grey;
    font-family: message;
    font-weight: 2px;
    margin: 0.5%;
    padding:0.5%;
  }

  #compatibility-message{
    font-size:28px;
    color: hsl(240, 32%, 64%);
    font-family: message;
    font-weight: 2px;
    margin: 0.5%;
    padding:0.5%;
  }